.container {
    position:relative;
    background-color:grey;
    width: 240px;
    height:240px;
    border: 8px solid black;
    border-radius: 50%;
    top:130px;
    color:white;
    padding:3px;
  }

  h3{
    position:relative;
    top:9px;
    padding:5px;
  }